streamlit
python-dotenv
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq
chromadb
pypdf
sentence-transformers
transformers
tokenizers
torch
accelerate
numpy
requests